#root{
	min-height: 100vh;
}

.typeFeu
{
	border-color : rgba(255, 46, 46, 0.688);
	box-shadow: rgb(255, 0, 0) 0px 0px 15px;
}
.typeEau
{
	border-color : rgba(0, 174, 255, 0.688);
	box-shadow: rgb(0, 174, 255) 0px 0px 15px;
}
.typeVol
{
	border-color : rgb(22, 71, 94);
	box-shadow: rgb(22, 71, 94) 0px 0px 15px;
}
.typePlante{
	border-color : rgb(51, 206, 64);
	box-shadow: rgb(51, 206, 64) 0px 0px 15px;
}
.typeNormal{
	border-color : rgb(136, 136, 136);
	box-shadow: rgb(136, 136, 136) 0px 0px 15px;
}
.App {
	text-align: center;
}

.App-logo {
	height: 20vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-main{
	min-height:75%;
	background-color: #282c34;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding:2%;
}
.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.title-name {
	color: rgb(54, 1, 1);
	font-weight: bold;
	width: 75%;
	margin: auto;
}

.inlist-container{
	border:solid 1px red;
	display:flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom:5%;
}
.inlist-id{
	color:pink;
}

.inlist-name{
	color:aqua;
	font-size:large;
}

.inlist-img{
	border-radius:5%;
}

.inlist-type{
	border:solid 1px red;
	border-radius:2;
	min-width:20%;
	max-width: 20%;
	text-align: center;
}

.Insecte{
	background-color:rgb(126, 148, 0);
	border:solid 1px rgb(126, 148, 0);
	border-radius:2%;
}

.Feu{
	background-color:red;
	border:solid 1px red;
	border-radius:2%;
}

.Eau{
	background-color:rgb(24, 7, 255);
	border:solid 1px rgb(24, 7, 255);
	border-radius:2%;
}

.Plante{
	background-color:rgb(0, 255, 68);
	border:solid 1px rgb(0, 255, 68);
	border-radius:2%;
}

.Poison{
	background-color:rgb(83, 0, 113);
	border:solid 1px rgb(83, 0, 113);
	border-radius:2%;
}

.Vol{
	background-color:rgb(157, 60, 255);
	border:solid 1px rgb(157, 60, 255);
	border-radius:2%;
}

.Psy{
	background-color:rgb(233, 0, 225);
	border:solid 1px rgb(233, 0, 225);
	border-radius:2%;
}

.Normal{
	background-color:rgb(139, 139, 139);
	border:solid 1px rgb(139, 139, 139);
	border-radius:2%;
}

.Combat{
	background-color:rgb(161, 88, 0);
	border:solid 1px rgb(161, 88, 0);
	border-radius:2%;
}
.Eletric{
	background-color:rgb(243, 238, 0);
	border:solid 1px rgb(243, 238, 0);
	border-radius:2%;
}
.Électrik{
	background-color:rgb(243, 238, 0);
	border:solid 1px rgb(243, 238, 0);
	border-radius:2%;
}

.Sol{
	background-color:rgb(255, 185, 106);
	border:solid 1px rgb(255, 185, 106);
	border-radius:2%;
}
.Acier{
	background-color:rgb(81, 81, 81);
	border:solid 1px rgb(81, 81, 81);
	border-radius:2%;
}
.Spectre{
	background-color:rgb(56, 0, 75);
	border:solid 1px rgb(56, 0, 75);
	border-radius:2%;
}
.Fée{
	background-color:rgb(255, 134, 237);
	border:solid 1px rgb(255, 134, 237);
	border-radius:2%;
}